@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
* {
  font-family: "Luxurious Roman", cursive;
}
body {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}
.container {
  width: 60%;
}
#text {
  width: 90%;
  height: 50vh;
  font-size: 24px;
  font-weight: 700;
  padding: 15px;
  color: #707070;
  resize: none;
  margin: 10px;
  letter-spacing: 2px;
}
.Controls {
  display: flex;
  justify-content: start;
}
.Controls label {
  padding-left: 2px;
  font-size: 20px;
  margin: 2px;
}
.Controls input {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 10px;
  width: 10%;
  padding-left: 10px;
  border: 2px solid blue;
  border-radius: 25px 25px 25px 25px;
}

.Controls button {
  display: block;
  font-size: 18px;
  margin-right: 15px;
  padding: 5px;
  width: 15%;
  border: 2px solid blue;
  border-radius: 25px 25px 25px 25px;
  letter-spacing: 1px;
}
.Controls button:hover{
    background-color: blue;
    color: white;
}

